{% extends 'base.html' %}

{% block head %}

<!-- Mobile Specific Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon-->
<link rel="shortcut icon" href="img/fav.png">
<!-- Author Meta -->
<meta name="author" content="CodePixar">
<!-- Meta Description -->
<meta name="description" content="">
<!-- Meta Keyword -->
<meta name="keywords" content="">
<!-- meta character set -->
<meta charset="UTF-8">
<!-- Site Title -->
<title>tracking</title>

<link href="https://fonts.googleapis.com/css?family=Poppins:100,300,500" rel="stylesheet">
{% endblock %}


{% block body %}
<body>
    <section class="banner-area relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen align-items-center justify-content-center">
                <div class="col-lg-10">
                    <div class="banner-content text-center">
                        <h1 class="text-white">No Need to find, <br>
                        This is the place on web</h1>
                        <p class="text-white">Living in today’s metropolitan world of cellular phones, mobile computers and other high-tech <br> gadgets is not just hectic but very impersonal.</p>
                        <a href="#" class="primary-btn d-inline-flex align-items-center"><span class="mr-10">Get Started</span><span class="lnr lnr-arrow-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="js/main.js"></script>
</body>

{% endblock %}