{% extends 'base.html' %}

{% block head %}

<!-- Mobile Specific Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon-->
<link rel="shortcut icon" href="img/fav.png">
<!-- Author Meta -->
<meta name="author" content="CodePixar">
<!-- Meta Description -->
<meta name="description" content="">
<!-- Meta Keyword -->
<meta name="keywords" content="">
<!-- meta character set -->
<meta charset="UTF-8">
<!-- Site Title -->
<title>tracking</title>

<link href="https://fonts.googleapis.com/css?family=Poppins:100,300,500" rel="stylesheet">
{% endblock %}


{% block body %}
<body>
    <section class="banner-area relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen align-items-center justify-content-center">
                <div class="col-lg-10">
                    <div class="banner-content text-center">
                        {% if choice==1 %}
                            <h1 class="text-white">Live Video Tracking <br>
                            Let's get started.</h1>
                            <p class="text-white">Tracking on a live video is challenging sometimes, but at the same time it is pleasing to watch it. <br></p>
                            <a href="/onspot" class="primary-btn d-inline-flex align-items-center"><span class="mr-10">Go ahead</span><span class="lnr lnr-arrow-right"></span></a>
                        {% elif choice==2 %}
                            <h1 class="text-white">Live Video Tracking <br>
                            Go for the options.</h1>
                            <p class="text-white">Don't forget to crop and select the object that needs to be tracked. <br>Now, you can watch tracking over 2 different algorithms mean and cam shift.</p>
                            <a href="/click" class="primary-btn d-inline-flex align-items-center"><span class="mr-10">Crop</span><span class="lnr lnr-arrow-right"></span></a>
                            <a href="/crop" class="primary-btn d-inline-flex align-items-center"><span class="mr-10">View the object</span><span class="lnr lnr-arrow-right"></span></a>
                            <a href="/mean" class="primary-btn d-inline-flex align-items-center"><span class="mr-10">Mean shift</span><span class="lnr lnr-arrow-right"></span></a>
                            <a href="/cam" class="primary-btn d-inline-flex align-items-center"><span class="mr-10">Cam shift</span><span class="lnr lnr-arrow-right"></span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <link href="{{ url_for('static', filename='css/linearicons.css') }}">
    <script src="{{ url_for('static', filename='js/vendor/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="js/main.js"></script>

</body>

{% endblock %}